<div class="menu menu-long">
  <div>
    <div>
      <ul>
        <li><a href="#">Click Me!</a></li>
        <li><a href="#">Click Me!</a></li>
        <li><a href="#">Click Me!</a></li>
        <li><a href="#">Click Me!</a></li>
        <li><a href="#">Click Me!</a></li>
      </ul>
    </div>
  </div>
  <div>
    <table>
      <thead>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>